div class="container slate-wrapper"

	profile-control colour="sections.edit_profile.headingColour"

		div class="ui-profile-control-action col-xs-4 col-xs-offset-8" ng-click="update_information(edit_user)"
			| save
			i class="fa fa-check"

	div [class="slate-content" page-min-height]

			div class="new-input-group"
				input-field elemid="edit-name" text="name" field="edit_user.name"
				input-field elemid="edit-email" text="email" field="edit_user.email"
				input-field elemid="edit-username" text="username" field="edit_user.username"



/  <div class="container slate-wrapper">
/ 	<div class="row" background-colour color="{{ sections.edit_profile.headingColour }}">
/ 		<div class="col-xs-12 slate-heading"><span>{{ sections.edit_profile.headingText }}</span></div>
/ 	</div>

/ 	<div class="row slate-content" y-to-bottom>
/ 		<div class="col-xs-12" style="margin-top: 20px">

/ 			<div class="row">
/ 				<div class="col-xs-12 slate-sub-heading"><span>Update Your information</span></div>
/ 			</div>

/ 			<form name="signUpForm" ng-submit="update_information(edit_user)">

/ 				<div class="new-input-group">
/ 					<input-field elemid="edit-name" text="name" field="edit_user.name"></input-field>
/ 					<input-field elemid="edit-email" text="email" field="edit_user.email"></input-field>
/ 					<input-field elemid="edit-username" text="username" field="edit_user.username"></input-field>
/ 				</div>
				
/ 				<button type="submit" class="otr-btn-primary md" style="margin-top: 20px">
/ 					<i class="fa fa-user"></i>&nbsp;&nbsp;Update
/ 				</button>

/ 			</form>

/ 		</div>
/ 	</div>
/ </div> 