<div class="container slate-wrapper">
	<div class="row" background-colour color="{{ sections.edit_profile.headingColour }}">
		<div class="col-xs-12 slate-heading"><span>{{ sections.edit_profile.headingText }}</span></div>
	</div>

	<div class="row slate-content" y-to-bottom>
		<div class="col-xs-12" style="margin-top: 20px">

			<div class="row">
				<div class="col-xs-12 slate-sub-heading"><span>Update Your information</span></div>
			</div>

			<form name="signUpForm" ng-submit="update_information(edit_user)">
				<div class="otr-input-group">
					<input type="text" ng-model="edit_user.name" placeholder="full name">
					<input type="text" ng-model="edit_user.email" placeholder="email">
					<input type="text" ng-model="edit_user.username" placeholder="username">
				</div>

				<button type="submit" class="otr-btn-primary md" style="margin-top: 20px">
					<i class="fa fa-user"></i>&nbsp;&nbsp;Update
				</button>

			</form>

		</div>
	</div>
</div>