<div class="container slate-wrapper">
	<!-- heading -->
	<div class="row" background-colour color="{{ sections.friendships.headingColour }}">
		<div class="col-xs-12 slate-heading"><span>{{ sections.friendships.headingText }}</span></div>
	</div>

	<!-- Search -->
	<div class="row" style="margin: 10px 0">
		<form name="addFriend" ng-submit="send_friend_request(friend_request)">
			<div class="col-xs-9">
				<div class="slate-heading-input">
					<input class="slate-heading-input" type="text" place-holder-value="...username" place-holder ng-model="friend_request.to_username">
				</div>
			</div>
			<div class="col-xs-3" style="text-align: center">
				<button class="otr-btn-primary md" type="submit" style="display: inline">
					Add
				</button>
			</div>
		</form>
	</div>

	<div class="row slate-content" y-to-bottom>
		<div class="col-xs-12">

			<!-- friend requests -->
			<section ng-show="current_user.friendship_requests.length > 0">
				<div class="row">
					<div class="col-xs-12 slate-sub-heading"><span>Friend requests</span></div>
				</div>
				<friendship-request-row ng-repeat="request in current_user.friendship_requests" request="request" accept="accept_friend_request(request)" decline="decline_friend_request(request)"></friendship-request-row>
			</section>

			<!-- friends -->
			<section ng-show="current_user.friendships.length > 0">
				<div class="row">
					<div class="col-xs-12 slate-sub-heading"><span>Friends</span></div>
				</div>
				<friendship-row ng-repeat="friendship in current_user.friendships" friend="friendship" destroy="destroy_friendship(friendship)"></friendship-row>
			</section>

			<!-- no friends -->
			<section ng-hide="current_user.friendships.length > 0">
				<div class="row">
					<div class="col-xs-12 slate-sub-heading"><span>Oh so lonely</span></div>
				</div>
				<div class="row">
					<div class="col-xs-12 no-friends">
						<i class="fa fa-frown-o"></i>
						<span>Looks like you need some friends...<br/>Try adding some above</span>
					</div>
				</div>
			</section>

		</div>
	</div>

</div>
