<div class="container slate-wrapper">
	
	<div class="row" background-colour color="{{ sections.questions_new.headingColour }}">
		<div class="col-xs-12 slate-heading"><span>{{ sections.questions_new.headingText }}</span></div>
	</div>

	<section ng-init="step='q'" ng-show="step == 'q'">
		<table style="margin: 20px 0">
			<tr>
				<td>
					<button class="otr-btn-secondary md" ng-click="setCurrentViewable(sections.questions.url)">
						<i class="fa fa-times"></i></i>&nbsp;&nbsp;Nope
					</button>
				</td>
				<td style="padding-left: 20px">
					<button class="otr-btn-primary md" ng-click="step = 'f'">
						<i class="fa fa-arrow-right"></i>&nbsp;&nbsp;Onwards
					</button>
				</td>
			</tr>
		</table>
	</section>

	<section ng-show="step == 'f'">
		<table style="margin: 20px 0">
			<tr>
				<td>
					<button class="otr-btn-secondary md" ng-click="step = 'q'">
						<i class="fa fa-arrow-left"></i></i>&nbsp;&nbsp;Back it up
					</button>
				</td>
				<td style="padding-left: 20px">
					<button class="otr-btn-primary md" ng-click="createQuestion(new_question)">
						<i class="fa fa-send"></i>&nbsp;&nbsp;Wheeeee
					</button>
				</td>
			</tr>
		</table>
	</section>

	<div class="row slate-content" y-to-bottom>

		<div class="col-xs-12">

			<!-- New Question -->
			<section ng-show="step == 'q'">

				<div class="row">
					<div class="col-xs-10">
						<h4>Question</h4> 
					</div>
					<div class="col-sm-2" style="text-align: right;">
						<button type="button" class="otr-btn-primary btn-random sm" ng-click="random_question()">
							<i class="fa fa-random"></i>
						</button>
					</div>
				</div>
				
				<textarea rows="2" cols="50" style="width: 100%;" ng-model="new_question.question"></textarea>
				<br/><br/>
				<h4>Your Answer</h4>
				<textarea rows="2" cols="50" style="width: 100%;" ng-model="new_question.answer"></textarea>

			</section>

			<!-- Pick Friends -->
			<section ng-show="step == 'f'">

				<new-question-add-friend-row ng-repeat="friendship in current_user.friendships" friend="friendship" toggle="addFriendToQuestion(friendship)"></new-question-add-friend-row>
				
			</section>

		</div>
	</div>
</div>