<div class="container slate-wrapper">
	<div class="row" background-colour color="{{ sections.questions.headingColour }}">
		<div class="col-xs-10 slate-heading"><span>{{ sections.questions.headingText }}</span></div>
		<div class="col-xs-2" style="padding-top: 10px">
			<a href="#/{{sections.questions_new.url}}"><i class="fa fa-plus qu-new"></i></a>
		</div>
	</div>
	<div class="row slate-content" y-to-bottom>
		<div class="col-xs-12">

			<table class="qu-question" ng-repeat="question in current_user.questions">
				<tr class="row qu-question-row">
					<td class="col-xs-10 qu-question-row-question"><p>{{question.question}}</p></td>
					<td class="col-xs-2 qu-question-row-status"><i class="fa fa-circle"></i></td>
				</tr>
				<tr class="row qu-to-row">
					<td class="col-xs-10 qu-to-row-to">
						<span ng-repeat="answer in question.answers">{{answer.user_username == current_user.username ? "you" : answer.user_username}}</span>
					</td>
					<td class="col-xs-2 qu-to-row-owner"><i class="fa fa-user" ng-show="question.is_owner"></i></td>
				</tr>
			</table>
			
		</div>
	</div>
</div>