<div class="container slate-wrapper">

	<!-- Heading -->
	<div class="row" background-colour color="{{ sections.questions.headingColour }}">
		<div class="col-xs-12 slate-heading"><span>{{ sections.questions.headingText }}</span></div>
	</div>
	
	<!-- New Question -->
	<div class="row" style="padding: 10px 10px 0 0">
		<div class="col-xs-12" style="text-align:right">
			<button class="otr-btn-primary md" style="display: inline" ng-click="setCurrentViewable(sections.questions_new.url)">
				<i class="fa fa-plus"></i>&nbsp;&nbsp;New
			</button>
		</div>
	</div>
	
	<!-- Questions -->
	<div class="row slate-content" y-to-bottom>
		<div class="col-xs-12">

			<table class="qu-question" ng-repeat="question in current_user.questions" ng-click="showQuestion(question)">
				<tr class="row qu-question-row">
					<td class="col-xs-10 qu-question-row-question"><p>{{question.question}}</p></td>

					<td class="col-xs-2 qu-question-row-status">
						<i class="fa fa-circle-o" ng-hide="question.completely_answered" ng-class="question.answered ? 'qu-waiting' : 'qu-answer'"></i>

						<i class="fa fa-circle" ng-show="question.completely_answered" ng-class="question.viewed ? 'qu-viewed' : 'qu-ready' "></i>
					</td>
				</tr>
				<tr class="row qu-to-row">
					<td class="col-xs-10 qu-to-row-to">
						<span ng-repeat="answer in question.answers">{{answer.user_username == current_user.username ? "you" : answer.user_username}}</span>
					</td>
					<td class="col-xs-2 qu-to-row-owner"><i class="fa fa-user" ng-show="question.is_owner"></i></td>
				</tr>
			</table>
			
		</div>
	</div>
</div>