

<div class="otr-home" ng-app="publicapp" ng-controller="SignInController">

	<div class="otr-home-logo">
		<h1 id="logo">Off the Record</h1>
	</div>

	<div class="slate-floating">

		<form name="signUpForm" ng-submit="signIn(signin)">

			<div class="new-input-group">
				<input-field elemid="signin-username" text="email / username" field="signin.email"></input-field>
				<input-field elemid="signin-password" text="password" type="password" field="signin.password"></input-field>
			</div>

			<ul class="otr-validation-errors">
				<li ng-repeat="err in errors">{{err}}</li>
			</ul>

			<br/><br/>
			<button type="submit" class="otr-btn-primary lg">
				<%= icon('magic') %>&nbsp;&nbsp;Log In
			</button>


			<div class="pull-right">
				<br/><br/>
				<p>Or, join the fun</p>

				<button class="otr-btn-secondary md" type="button" ng-click="signUp()">
					<i class="fa hand-o-right"></i>&nbsp;&nbsp;Sign Up
				</button>
			</div>

		</form>

	</div>

</div>

<script>
	$(document).ready(function() {
		$("#logo").arctext({radius: 400});
	});
</script>