<%= render "/layouts/homenav" %>

<div class="otr-home">
	

	<div class="otr-home-controls">
		
		<div class="otr-slate-w">
			<h4>Welcome back...</h4>
			<input type="text" placeholder="email / username">
			<input type="password" placeholder="password">
		</div>

		<div class="otr-slate-w">
			<h4>New to Off the Record?</h4>
			<p>Join the awesome fun, sign up today :D</p><br/>
			<%= link_to sign_up_path, class: "otr-btn-secondary md" do %> 
			<%= icon('hand-o-right') %> Sign Up 
			<% end %> 
		</div>

	</div>

</div>