

<div class="otr-home" ng-app="publicapp" ng-controller="SignInController">
	
	<div class="otr-home-logo">
		<h1 id="logo">Off the Record</h1>
	</div>

	<div class="otr-home-controls">
		
		<div class="otr-slate-w">
			<form name="signUpForm" ng-submit="signIn(signin)">

				<div class="new-input-group">
					<input-field elemid="signin-username" text="email / username" field="signin.email"></input-field>
					<input-field elemid="signin-password" text="password" type="password" field="signin.password"></input-field>
				</div>
				
				<ul class="otr-validation-errors">
					<li ng-repeat="err in errors">{{err}}</li>
				</ul>

				<br/><br/><br/>
				<button type="submit" class="otr-btn-primary lg">
					<%= icon('magic') %>&nbsp;&nbsp;Log In
				</button>
			</form>
			<br/><br/>
			<p>Or, join the fun</p>
			<%= link_to sign_up_path, class: "otr-btn-secondary md" do %> 
			<%= icon('hand-o-right') %> Sign Up 
			<% end %> 
		</div>

	</div>

</div>

<script>
	$(document).ready(function() {
		$("#logo").arctext({radius: 400});
	});
</script>