<div ng-controller="ProfileController">
	

	<otr-header title="{{heading_text}}" radius="600" ></otr-header>

	<div >
		<button ng-click="signOut()">Sign Out</button>

		<button ng-click="changeText()">Change</button>
	</div>

</div>

