<div ng-controller="ProfileController">	

	<otr-header title="{{heading_text}}" radius="600" ></otr-header>

	<div >
		<button ng-click="signOut()">Sign Out</button>

		<button ng-click="changeText()">Change</button>
	</div>


	<input type="text" placeholder="username" ng-model="friend_request.username"/>
	<button ng-click="send_friend_request(friend_request)">Send Request</button>

</div>

