<%= render "/layouts/homenav" %>

<div class="otr-signup otr-slate-w" ng-controller="SignUpController">
	
	<h4>Become one of us...</h4>

	<form name="signUpForm" ng-submit="signUp(newagent)">

		<div class="otr-input-group">
			<input type="text" ng-model="newagent.agent.name" placeholder="full name">
			<input type="text" ng-model="newagent.agent.email" placeholder="email">
			<input type="text" ng-model="newagent.agent.username" placeholder="username">
			<input type="password" ng-model="newagent.agent.password" placeholder="password">
			<input type="password" ng-model="newagent.agent.password_confirmation" placeholder="confirm password">
		</div>
		
		<ul class="otr-validation-errors">
			<li ng-repeat="err in errors">{{err}}</li>
		</ul>

		<h1><input type="submit" class="otr-btn-primary lg" value="Join Us!"></h1>

	</form>

	<%= link_to "Cancel", root_path, class: "otr-btn-secondary md" %>

</div>
