<div class="action-menu-backdrop animated fadeIn" ng-show="action_menu_active" y-to-bottom ng-click="setCurrentViewable(current_viewable)"></div>

<div class="container action-menu-wrapper animated slideInLeft" ng-show="action_menu_active" y-to-bottom>
	
	<h1>OFF THE RECORD</h1>

	<action-menu-item icon="pencil" text="Edit Profile" action="setCurrentViewable(sections.edit_profile.name)"></action-menu-item>

	<action-menu-item icon="users" text="View Friends" action="setCurrentViewable(sections.friendships.name)"></action-menu-item>

	<action-menu-item icon="sign-out" text="Log Out" action="signOut()"></action-menu-item>

</div>