<div class="action-menu-backdrop animated fadeIn" ng-show="action_menu_active" y-to-bottom ng-click="action_menu_active = false"></div>

<div class="container action-menu-wrapper animated slideInLeft" ng-show="action_menu_active" y-to-bottom>
	
	<h1>OFF THE RECORD</h1>

	<action-menu-item icon="pencil" text="Questions" action="setCurrentViewable(sections.questions.url)" color="{{sections.questions.headingColour}}"></action-menu-item>

	<action-menu-item icon="users" text="View Friends" action="setCurrentViewable(sections.friendships.url)" color="{{sections.friendships.headingColour}}"></action-menu-item>

	<action-menu-item icon="user" text="Edit Profile" action="setCurrentViewable(sections.edit_profile.url)" color="{{sections.edit_profile.headingColour}}"></action-menu-item>

	<action-menu-item icon="sign-out" text="Log Out" action="signOut()"></action-menu-item>

</div>