section
	div class="container action-bar"
		div class="col-xs-2 action-bar-menu" ng-click="action_menu_active = !action_menu_active"
			i id="action-bar-icon" class="fa fa-bars menu" ng-class="{ 'menu-active' : action_menu_active }"

		div class="col-xs-8 user"
			img class="record-logo" alt="off the record logo" src="/assets/record.svg"

	div class="action-bar-fake"