<section>
	<div class="container action-bar">
		<div class="row ">
			<div class="col-xs-2">
				<i class="fa fa-bars menu" ng-click="action_menu_active = !action_menu_active"></i>
			</div>
			<div class="col-xs-8 user">
				{{current_user.username}}
			</div>
			<div class="col-xs-2">
				<!-- <i class="fa fa-users"></i> -->
			</div>
		</div>
	</div>
</section>