<div class="slate-wrapper container" ng-app="publicapp" ng-controller="SignUpController">

	<div class="row" background-colour color="#15b3b6">
		<div class="col-xs-12 slate-heading"><span>Sell Your Soul</span></div>
	</div>

	<div class="slate-content" y-to-bottom>

			<div class="new-input-group m-t-20">
				<input-field elemid="signup-name" text="full name" field="newuser.user.name"></input-field>
				<input-field elemid="signup-email" text="email" field="newuser.user.email"></input-field>
				<input-field elemid="signup-username" text="username" field="newuser.user.username"></input-field>
				<input-field elemid="signup-password" text="password" type="password" field="newuser.user.password"></input-field>
				<input-field elemid="signup-password-conf" text="confirm-password" type="password" field="newuser.user.password_confirmation"></input-field>
			</div>

			<ul class="otr-validation-errors">
				<li ng-repeat="err in errors">{{err}}</li>
			</ul>

			<div class="row">
				<div class="col-md-6 m-t-20">
					<button class="otr-btn-primary md" ng-click="signUp(newuser)">
						<i class="fa fa-check"></i>&nbsp;&nbsp;Join the club
					</button>
				</div>
				<div class="col-md-6 m-t-20">
					<button class="otr-btn-secondary md" ng-click="cancel()">
						<i class="fa fa-times"></i>&nbsp;&nbsp;Cancel
					</button>
				</div>
			</div>

	</div>

</div>
