<otr-header title="Sell Your Soul" radius="600" ></otr-header>

<div class="otr-signup otr-slate-w" ng-app="publicapp" ng-controller="SignUpController">
	
	<h4>Become one of us...</h4>

	<form name="signUpForm" ng-submit="signUp(newuser)">

		<div class="otr-input-group">
			<input type="text" ng-model="newuser.user.name" placeholder="full name">
			<input type="text" ng-model="newuser.user.email" placeholder="email">
			<input type="text" ng-model="newuser.user.username" placeholder="username">
			<input type="password" ng-model="newuser.user.password" placeholder="password">
			<input type="password" ng-model="newuser.user.password_confirmation" placeholder="confirm password">
		</div>
		
		<ul class="otr-validation-errors">
			<li ng-repeat="err in errors">{{err}}</li>
		</ul>

		<h1><input type="submit" class="otr-btn-primary lg" value="Join Us!"></h1>

	</form>

	<%= link_to "Cancel", root_path, class: "otr-btn-secondary md" %>

</div>
