<section ng-app="profileapp" ng-controller="ProfileSetupController">


	<%= render "layouts/profile/actionbar" %>
	<%= render "layouts/profile/actionmenu" %>

	<div ng-view>
		
	</div>

	<%# render "layouts/profile/questions" %>
	<%# render "layouts/profile/edit_profile" %>


	


</section>
