<section ng-controller="ProfileController">


	<%= render "layouts/profile/actionbar" %>
	<%= render "layouts/profile/actionmenu" %>

	<%= render "layouts/profile/friendships" %>
	<%= render "layouts/profile/edit_profile" %>


</section>
