	<!-- <otr-header title="{{heading_text}}" radius="600" ></otr-header> -->

	<section ng-controller="ProfileController">

		<div class="container slate-wrapper" >
			<!-- heading -->
			<div class="row">
				<div class="col-xs-12 slate-heading"><span>Acquaintances</span></div>
			</div>

			
			<div class="row">
				<div class="col-xs-10">
					<input type="text" placeholder="username" ng-model="friend_request.username">
				</div>
				<div class="col-xs-2">
					<i class="fa fa-plus" ng-click="send_friend_request(friend_request)"></i>
				</div>
			</div>

			<!-- friend requests -->
			<section ng-show="current_user.friendship_requests">
				<div class="row">
					<div class="col-xs-12 slate-sub-heading"><span>Friend Requests</span></div>
				</div>

				<div class="row slate-item" ng-repeat="request in current_user.friendship_requests">
					<div class="col-xs-8 fr-name">
						<span>{{request.from_username}}</span>
					</div>
					<div class="col-xs-4 fr-actions">
						<div class="fr-decline"><i class="fa fa-times" ng-click="decline_friend_request(request)"></i></div>
						<div class="fr-accept"><i class="fa fa-check" ng-click="accept_friend_request(request)"></i></div>
					</div>
				</div>
			</section>

			<!-- friends -->
			<section ng-show="current_user.friendships">
				<div class="row">
					<div class="col-xs-12 slate-sub-heading"><span>Friends</span></div>
				</div>

				<div class="row slate-item" ng-repeat="friend in current_user.friendships">
					<div class="col-xs-8 fr-name">
						<span>{{friend.friend_username}}</span>
					</div>
					<div class="col-xs-4 fr-actions">
						<div class="fr-decline"><i class="fa fa-times"></i></div>
					</div>
				</div>
			</section>
		</div>

		<hr>

		<h1>{{msg}}</h1>
		<div >
			<button ng-click="signOut()">Sign Out</button>
		</div>
	</section>
