<section ng-app="profileapp" ng-controller="ProfileSetupController">


	<%= render "layouts/profile/actionbar" %>
	<%= render "layouts/profile/actionmenu" %>
	<%= render "layouts/profile/loading" %>

	<div ng-view></div>

</section>
