<div class="row action-menu-item" ng-click="action()">

	<div class="col-xs-3">
		<i class="fa fa-{{icon}}" style="color: {{color}}"></i>
	</div>
	<div class="col-xs-9">
		<span>{{text}}</span>
	</div>
</div>