<div class="row slate-item">
	<div class="col-xs-8 fr-name">
		<span>{{friend.friend_username}}</span>
	</div>
	<div class="col-xs-4 fr-actions">
		<div class="fr-decline"><i class="fa fa-bomb" ng-click="destroy()"></i></div>
	</div>
</div>