<div class="row slate-item">
	<div class="col-xs-7 fr-name">
		<span>{{request.from_username}}</span>
	</div>
	<div class="col-xs-5 fr-actions">
		<div class="fr-decline"><i class="fa fa-times" ng-click="decline()"></i></div>
		<div class="fr-accept"><i class="fa fa-check" ng-click="accept()"></i></div>
	</div>
</div>