headroom tolerance='0' offset='0' classes="{pinned:'headroom--pinned',unpinned:'headroom--unpinned',initial:'headroom'}"
	div [class="ui-profile-controls row" custom-colour css="background-color"  colour="colour"]
		div [ng-transclude]