@import variables

div.action-menu-backdrop
	position: fixed
	top: $height-action-bar
	left: 0
	width: 100%
	background-color: $colour-action-menu-backdrop
	z-index: 950


div.action-menu-wrapper
	position: fixed
	top: 40px
	width: 18%
	background: $colour-action-menu-background
	z-index: 960
	
	h1
		color: $colour-action-menu-heading-text

.action-with-background
	background-image: url('/assets/stardust.png') !important

.action-menu-wrapper-active
	left: 0 !important
	transition: 0.4s


div.action-menu-item
	height: 40px
	cursor: pointer
	position: relative
	
	span, i
		color: $colour-action-menu-text
		font-size: 20px
		line-height: 40px
	
	span.action-badge
		position: relative
	
		&:after
			content: attr(data-badge)
			position: absolute
			top: 0px
			right: -30px
			font-size: 10px
			background: $colour-action-menu-badge-background
			color: $colour-default-text
			width: 18px
			height: 18px
			text-align: center
			line-height: 18px
			border-radius: 50%

	&:hover
		background: $colour-action-menu-hover-item-background


div.action-menu-item-active:after
	content: ""
	position: absolute
	width: 4px
	height: 40px
	top: 0
	right: 0
	background: #08b5af

