$normal-font: 'Open Sans', sans-serif
$fancy-font: 'Pacifico', cursive

$primary-color: #079EA6
$input-txt-c: #3d3d3d
$mat-shadow: 1px 1px 3px rgba(0,0,0,0.4)

$default-font-size: 10px
$default-font-c: #575757

body
	margin: 0
	padding: 0
	font-family: $normal-font
	font-weight: 300
	color: darken($primary-color, 20%)
	font-size: $default-font-size

a
	text-decoration: none
	margin: 0 10px 0 10px

h4
	font-size: 1.4em
	font-weight: normal
	margin: 4px 0 4px 0
	color: $primary-color

p
	font-size: 1.2em
	color: $default-font-c

span
	font-size: 1.2em
	color: $default-font-c


=gradient-bg($top, $bottom)
	background: -webkit-linear-gradient($top, $bottom) /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($top, $bottom) /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($top, $bottom) /* For Firefox 3.6 to 15 */
	background: linear-gradient($top, $bottom) /* Standard syntax */


.sm
	font-size: $default-font-size * 1.2

.md
	font-size: $default-font-size * 1.8

.lg
	font-size: $default-font-size * 2.4


$input-border-style: 1.6px solid fade-out(black, 0.88)
$input-border-radius: 4px
div.otr-input-group
	position: relative
	width: 100%		
	input
		border-right: $input-border-style
		border-left: $input-border-style
		border-bottom: $input-border-style
		margin-bottom: 0px
	input:first-child
		border-top: $input-border-style
		border-top-left-radius: $input-border-radius
		border-top-right-radius: $input-border-radius
	input:last-child
		border-bottom-left-radius: $input-border-radius
		border-bottom-right-radius: $input-border-radius



/* INPUT */
input[type="text"], input[type="password"]
	position: relative
	width: 96%
	height: 40px
	padding-left: 4%
	margin-bottom: 6px
	font-size: 1.2em
	border: 0
	outline: 0
	color: black
	


/* BUTTONS */
.otr-btn
	padding: 6px 14px 6px 14px
	border: 0
	border-radius: 2px
	color: white
	cursor: pointer

$btn-hover-amt: 5%
$btn-primary-c: #08bac3
$btn-secondary-c: #E37C76
.otr-btn-primary
	@extend .otr-btn
	background: $btn-primary-c

.otr-btn-primary:hover
	background: lighten($btn-primary-c, $btn-hover-amt)

.otr-btn-secondary
	@extend .otr-btn
	background: $btn-secondary-c

.otr-btn-secondary:hover
	background: lighten($btn-secondary-c, $btn-hover-amt)



ul.otr-validation-errors
	color: red
	font-size: 1.2em
	list-style-type: none
	padding: 0
	font-weight: bold




/* LAYOUT */
.otr-slate
	width: 74%
	max-width: 300px
	padding: 24px
	border-radius: 2px
	box-shadow: $mat-shadow

div.otr-slate-w
	@extend .otr-slate
	background-color: fade-out(white, 0.2)
	

div.otr-slate-c
	@extend .otr-slate
	background-color: #E6F2EC





/* NAV */
$home-nav-h: 60px
div.otr-home-banner
	position: relative
	width: 100%
	height: $home-nav-h
	max-height: 340px
	display: block
	text-align: center
	background-color: $primary-color
	overflow: hidden
	box-shadow: 1px 1px 4px rgba(0,0,0,0.6)

	img.otr-home-logo
		position: relative
		height: $home-nav-h * .8
		top: ($home-nav-h - ($home-nav-h * .8)) / 2



$nav-h: 70px
div.otr-nav
	position: relative
	width: 100%
	height: $nav-h
	line-height: $nav-h
	text-align: center
	color: white
	box-shadow: 0px 1px 6px rgba(0,0,0,0.8)
	+gradient-bg($primary-color, darken($primary-color, 3%))

span.otr-logo
	font-family: $fancy-font
	font-size: 2em
	color: white
	text-shadow: 1px 1px 6px black
	padding: 10px 50px 0 50px


