@import bootstrap
@import font-awesome-sprockets
@import font-awesome
@import variables

body
	margin: 0
	padding: 0
	font-family: $normal-font
	font-weight: 300
	color: black
	font-size: $default-font-size
	//background-image: url('/assets/stardust.png')
	//background-repeat: repeat
	background: $colour-default-text

.animated
	-webkit-animation-duration: 0.6s !important

a
	text-decoration: none
	margin: 0 10px 0 10px

h4
	font-size: 2.2em
	font-weight: 300
	margin: 4px 0 4px 0
	color: black

p
	font-size: 20px
	color: $colour-default-text

span
	font-size: 20px
	color: $colour-default-text


.sm
	font-size: $default-font-size * 1.2

.md
	font-size: $default-font-size * 1.8

.lg
	font-size: $default-font-size * 2.4

.bold
	font-weight: bold

.italic
	font-style: italic

.capitalise
	text-transform: capitalize

div.otr-input-group
	position: relative
	width: 100%		
	input
		border-right: $input-border-style
		border-left: $input-border-style
		border-bottom: $input-border-style
		margin-bottom: 0px
	input:first-child
		border-top: $input-border-style
		border-top-left-radius: $input-border-radius
		border-top-right-radius: $input-border-radius
	input:last-child
		border-bottom-left-radius: $input-border-radius
		border-bottom-right-radius: $input-border-radius


//experimental
div.new-input-group
	position: relative
	width: 100%

div.new-input-field
	position: relative
	height: 56px
	text-align: left
	margin: 20px 0
	
	label
		position: relative
		font-size: 15px
		transform: translate3d(20px, 30px, 0)
		z-index: 1
		transition: 0.4s
		color: #b6b6b6
		font-weight: 300
		margin-bottom: 0
		
		&.active
			transform: translate3d(0px, 1px, 0) scale(0.85)
			transition: 0.4s

	input
		position: relative
		background-color: #f0f0f0
		border-radius: 4px
		height: 40px
		font-size: 1.4em
		z-index: 0
		border: 1px solid fade-out(#d1d1d1, 0.4)



/* INPUT */
input[type="text"], input[type="password"], input[type="email"]
	position: relative
	width: 100%
	height: 40px
	padding-left: 4%
	font-size: 1.2em
	border: 0
	outline: 0
	color: black
	

textarea
	position: relative
	width: 100%
	padding: 2px
	border: $input-border-style
	border-radius: $input-border-radius
	font-size: 2.2em

/* BUTTONS */
.otr-btn
	position: relative
	display: inline-block
	outline: 0
	padding: 6px 14px 6px 14px
	border: 0
	border-bottom: 4px solid transparent
	border-radius: 4px
	color: white
	cursor: pointer

$btn-hover-amt: 5%
$btn-primary-c: #08bac3
$btn-secondary-c: #E37C76
.otr-btn-primary
	@extend .otr-btn
	background: $btn-primary-c
	border-bottom-color: darken($btn-primary-c, 10%)

	&:active
		border-bottom: 0
		border-top: 4px solid transparent
		top: 4px

	&:hover
		background: lighten($btn-primary-c, $btn-hover-amt)


.otr-btn-secondary
	@extend .otr-btn
	background: $btn-secondary-c
	border-bottom-color: darken($btn-secondary-c, 10%)

	&:active
		border-bottom: 0
		border-top: 4px solid transparent
		top: 4px

	&:hover
		background: lighten($btn-secondary-c, $btn-hover-amt)



ul.otr-validation-errors
	color: red
	font-size: 1.2em
	list-style-type: none
	padding: 0
	font-weight: bold





/* NAV */
$home-nav-h: 60px
div.otr-home-banner
	position: relative
	width: 100%
	height: $home-nav-h
	display: block
	text-align: center
	background-color: $primary-color
	box-shadow: 1px 1px 4px rgba(0,0,0,0.6)

	img.otr-home-logo
		position: relative
		height: $home-nav-h * .8
		top: ($home-nav-h - ($home-nav-h * .8)) / 2



$nav-h: 70px
div.otr-nav
	position: relative
	width: 100%
	height: $nav-h
	line-height: $nav-h
	text-align: center
	color: white
	box-shadow: 0px 1px 6px rgba(0,0,0,0.8)
	+gradient-bg($primary-color, darken($primary-color, 3%))

span.otr-logo
	font-family: $fancy-font
	font-size: 2em
	color: white
	text-shadow: 1px 1px 6px black
	padding: 10px 50px 0 50px


//toastr overrides
#toast-container-otr
	position: fixed
	z-index: 9999

#toast-container-otr > div
	background-position: 15px center
	background-repeat: no-repeat
	-moz-border-radius: 3px 3px 3px 3px 
	-webkit-border-radius: 3px 3px 3px 3px 
	border-radius: 3px 3px 3px 3px
	-moz-box-shadow: 0 0 12px #999999 
	-webkit-box-shadow: 0 0 12px #999999 
	-o-box-shadow: 0 0 12px #999999 
	box-shadow: 0 0 12px #999999
	color: #FFFFFF
	margin: 0 0 6px
	filter: alpha(opacity=96)
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)"
	opacity: 0.96
	padding: 15px 15px 15px 50px
	width: 300px

.m-t-20
	margin-top: 20px
.m-t-40
	margin-top: 40px
.m-b-20
	margin-bottom: 20px
.m-b-40
	margin-bottom: 40px
.m-t-b-30
	margin-top: 30px
	margin-bottom: 30px
.text-right
	text-align: right
.text-center
	text-align: center
.text-left
	text-align: left

