@import bootstrap
@import variables

body
	margin: 0
	padding: 0
	font-family: $normal-font
	font-weight: 300
	color: black
	font-size: $default-font-size
	//background-image: url('/assets/cake-bg-drk.png')
	background-repeat: repeat
	background-color: #bfbfbf

.animated
	-webkit-animation-duration: 0.6s !important

a
	text-decoration: none
	margin: 0 10px 0 10px

h4
	font-size: 2.2em
	font-weight: 300
	margin: 4px 0 4px 0
	color: black

p
	font-size: 1.2em
	color: $default-font-c

span
	font-size: 1.2em
	color: $default-font-c


.sm
	font-size: $default-font-size * 1.2

.md
	font-size: $default-font-size * 1.8

.lg
	font-size: $default-font-size * 2.4

div.otr-input-group
	position: relative
	width: 100%		
	input
		border-right: $input-border-style
		border-left: $input-border-style
		border-bottom: $input-border-style
		margin-bottom: 0px
	input:first-child
		border-top: $input-border-style
		border-top-left-radius: $input-border-radius
		border-top-right-radius: $input-border-radius
	input:last-child
		border-bottom-left-radius: $input-border-radius
		border-bottom-right-radius: $input-border-radius



/* INPUT */
input[type="text"], input[type="password"], input[type="email"]
	position: relative
	width: 100%
	height: 40px
	padding-left: 4%
	font-size: 1.2em
	border: 0
	outline: 0
	color: black
	

textarea
	position: relative
	width: 100%
	padding: 2px
	border: $input-border-style
	border-radius: $input-border-radius
	font-size: 2.2em

/* BUTTONS */
.otr-btn
	position: relative
	display: block
	outline: 0
	padding: 6px 14px 6px 14px
	border: 0
	border-bottom: 4px solid transparent
	border-radius: 4px
	color: white
	cursor: pointer

$btn-hover-amt: 5%
$btn-primary-c: #08bac3
$btn-secondary-c: #E37C76
.otr-btn-primary
	@extend .otr-btn
	background: $btn-primary-c
	border-bottom-color: darken($btn-primary-c, 10%)

.otr-btn-primary:active
	border-bottom: 0
	border-top: 4px solid transparent
	top: 4px

.otr-btn-primary:hover
	background: lighten($btn-primary-c, $btn-hover-amt)

.otr-btn-secondary
	@extend .otr-btn
	background: $btn-secondary-c
	border-bottom-color: darken($btn-secondary-c, 10%)

.otr-btn-secondary:active
	border-bottom: 0
	border-top: 4px solid transparent
	top: 4px

.otr-btn-secondary:hover
	background: lighten($btn-secondary-c, $btn-hover-amt)



ul.otr-validation-errors
	color: red
	font-size: 1.2em
	list-style-type: none
	padding: 0
	font-weight: bold





/* NAV */
$home-nav-h: 60px
div.otr-home-banner
	position: relative
	width: 100%
	height: $home-nav-h
	display: block
	text-align: center
	background-color: $primary-color
	box-shadow: 1px 1px 4px rgba(0,0,0,0.6)

	img.otr-home-logo
		position: relative
		height: $home-nav-h * .8
		top: ($home-nav-h - ($home-nav-h * .8)) / 2



$nav-h: 70px
div.otr-nav
	position: relative
	width: 100%
	height: $nav-h
	line-height: $nav-h
	text-align: center
	color: white
	box-shadow: 0px 1px 6px rgba(0,0,0,0.8)
	+gradient-bg($primary-color, darken($primary-color, 3%))

span.otr-logo
	font-family: $fancy-font
	font-size: 2em
	color: white
	text-shadow: 1px 1px 6px black
	padding: 10px 50px 0 50px


$ok-c: #21AABD
$cancel-c: #FF6B6B
i.btn-ok
	+i-btn($ok-c)

i.btn-ok:hover
	+i-btn(fade-out($ok-c, 0.3))

i.btn-cancel
	+i-btn($cancel-c)

i.btn-cancel:hover
	+i-btn(fade-out($cancel-c, 0.3))




\:-webkit-input-placeholder
	color: white

\:-moz-placeholder
	color: white

\:-ms-input-placeholder
	color: white

