@import variables

div.fr-name span
	font-size: 20px
	line-height: 40px
	display: inline-block

div.fr-actions
	text-align: right


.fr-req-action
	position: relative
	display: inline-block
	width: $size-friend-request-action
	height: $size-friend-request-action
	margin-left: 10px
	border-radius: 50%
	text-align: center
	margin: 5px 0
	
	i
		font-size: 20px
		color: white
		line-height: $size-friend-request-action


div.fr-accept
	@extend .fr-req-action
	background: $colour-friend-request-accept

	&:hover
		background: fade-out($colour-friend-request-accept, 0.3)

div.fr-decline
	@extend .fr-req-action
	background: $colour-friend-request-decline

	&:hover
		background: fade-out($colour-friend-request-decline, 0.3)



div.no-friends
	padding-top: 10px
	padding-bottom: 10px
	text-align: center
	color: $colour-default-text
	
	i
		font-size: 2.2em
		display: block
	
	span
		font-size: 1.4em


