.headroom
	position: fixed
	display: block
	z-index: 999
	transition: transform 200ms linear
	-webkit-transform: translate3d(0, 0, 0)

.headroom--pinned
	transform: translateY(0%)

.headroom--unpinned
	transform: translateY(-100%)