@import variables

div.action-bar
	position: absolute
	height: $height-action-bar
	background-color: $colour-action-bar-background
	color: #575757
	overflow: hidden
	width: 100%
	box-shadow: $dark-shadow
	z-index: 1001
	
	i.menu
		position: absolute
		font-size: $height-action-bar - 10
		line-height: $size-menu-icon
		width: $size-menu-icon
		height: $size-menu-icon
		color: #575757
		text-align: center
		margin-left: -1 * ($size-menu-icon / 2)
		margin-top: -1 * (($size-menu-icon - $height-action-bar) / 2)
		z-index: 150
		
		&:hover
			color: darken(#575757, 10%)

	div.user
		text-align: center
		font-size: $height-action-bar / 2
		line-height: $height-action-bar

div.action-bar-fake
	height: $height-action-bar
	width: 100%
	z-index: -1
	visibility: hidden

div.slate-wrapper
	position: relative
	width: $width-slate
	max-width: $width-slate-max
	margin: 0 auto
	box-shadow: 2px 10px 22px rgba(0,0,0,0.2), -2px 10px 22px rgba(0,0,0,0.2)
	background-color: white

div.slate-heading
	position: relative
	min-height: $height-slate-heading-min
	padding-top: 4px
	z-index: 10
	padding-top: 34px
	
	span
		left: 10px
		top: 34px
		font-family: $fancy-font
		font-size: 4.6em
		color: white
		z-index: 100
		+text-outline(2px, 3px, rgba(0,0,0,0.2))
 
input.slate-heading-input
	color: $colour-slate-heading-input !important
	position: relative
	font-size: 1.8em !important
	background-color: transparent
	border: none
	border-bottom: 2px solid $colour-slate-heading-input !important
	box-sizing: border-box
	outline: none
	margin: 0

//Android style input
div.slate-heading-input
	position: relative
	display: block

	&:before, &:after
		content: ""
		display: block
		position: absolute
		bottom: 2px
		height: 6px
		border-left: 2px solid $colour-slate-heading-input

	&:before
		left: 0

	&:after
		right: 0


.slate-content
	background-color: $colour-slate-content-background
	overflow: scroll
	-webkit-overflow-scrolling: touch //hopefully fix stupid ios issues

	overflow-x: hidden
	height: 1000px

	& > *
		-webkit-transform: translateZ(0px)

div.slate-sub-heading
	position: relative
	background-color: $colour-slate-sub-heading
	padding: 6px 0
	margin: 5px 0 15px 0
	border-bottom: 1px solid $colour-slate-sub-heading-border
	text-align: center
	
	span
		font-size: 2em

div.slate-item
	position: relative
	background-color: $colour-slate-item-background
	padding: 15px 0

	&:last-child
		border-bottom: none

.hover-highlight:hover
	background-color: $colour-slate-item-highlight-background

div.slate-item-highlight
	background-color: $colour-slate-item-highlight-background

div.slate-floating
	position: relative
	width: 90%
	max-width: $width-slate-max
	margin-top: 30px
	margin: auto
	border-radius: 6px
	border: 1px solid $colour-slate-floating-border
	border-bottom: 5px solid $colour-slate-floating-border-base
	background-color: $colour-slate-floating-background
		
	p, span
		color: white
	