@import variables

div.action-bar
	height: $action-bar-h
	background-color: $action-bar-c
	color: #575757
	//border-bottom: 2px solid fade-out(#575757, 0.6)
	overflow: hidden
	width: 100%
	//box-shadow: $dark-shadow
	i.menu
		position: absolute
		font-size: $action-bar-h - 10
		line-height: $menu-icon-s
		width: $menu-icon-s
		height: $menu-icon-s
		color: #575757
		text-align: center
		margin-left: -1 * ($menu-icon-s / 2)
		margin-top: -1 * (($menu-icon-s - $action-bar-h) / 2)
		z-index: 150
	i.menu:hover
		color: darken(#575757, 10%)

	div.user
		text-align: center
		font-size: $action-bar-h / 2
		line-height: $action-bar-h



$slate-w: 100%
$slate-max-w: 600px
$slate-min-h: 50px


div.slate-wrapper
	position: relative
	width: $slate-w
	max-width: $slate-max-w
	margin: 0 auto
	box-shadow: 2px 10px 22px rgba(0,0,0,0.2), -2px 10px 22px rgba(0,0,0,0.2)
	background-color: white


div.slate-heading
	position: relative
	min-height: $slate-min-h
	padding-top: 4px
	z-index: 10
	padding-top: 34px
	
	span
		left: 10px
		top: 34px
		font-family: $fancy-font
		font-size: 4.6em
		color: white
		z-index: 100
		+text-outline(2px, 3px, rgba(0,0,0,0.8))

$heading-input-c: lighten($default-font-c, 10%)
input.slate-heading-input
	color: $heading-input-c !important
	position: relative
	font-size: 1.8em !important
	background-color: transparent
	border: none
	border-bottom: 2px solid $heading-input-c !important
	box-sizing: border-box
	outline: none
	margin: 0

//Android style input
div.slate-heading-input
	position: relative
	display: block

div.slate-heading-input:before, div.slate-heading-input:after
	content: ""
	display: block
	position: absolute
	bottom: 2px
	height: 6px
	border-left: 2px solid $heading-input-c

div.slate-heading-input:before
	left: 0

div.slate-heading-input:after
	right: 0


.slate-content
	background-color: white
	overflow: scroll
	overflow-x: hidden


$slate-sub-heading-c: white
div.slate-sub-heading
	position: relative
	background-color: $slate-sub-heading-c
	padding: 6px 0
	margin: 5px 0 15px 0
	border-bottom: 1px solid darken($slate-sub-heading-c, 10%)
	text-align: center
	span
		font-size: 2em



div.slate-item
	position: relative
	background-color: white
	padding: 6px 0
	border-bottom: 1.6px solid fade-out(black, 0.88) 

div.slate-item:last-child
	border-bottom: none

div.slate-item-highlight
	background-color: #f5f5f5


/* LAYOUT */
.otr-slate
	position: relative
	width: 74%
	max-width: 600px
	padding: 24px
	margin: 0 auto
	margin-top: 20px
	border-radius: 6px
	//box-shadow: $mat-shadow
	border: 1px solid fade-out(#b5b5b5, 0.7)
	border-bottom: 5px solid #b5b5b5

div.otr-slate-w
	@extend .otr-slate
	background-color: fade-out(white, 0.1)
	

div.otr-slate-c
	@extend .otr-slate
	background-color: #E6F2EC