div.loading-backdrop
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 1500
	display: none


div.loading
	position: fixed
	width: 100px
	height: 100px
	top: 50%
	left: 50%
	margin: -50px 0 0 -50px
	z-index: 1501

	img
		width: 100px
		height: 100px


