$fr-action-s: 30px
.q-check
	position: relative
	display: inline-block
	width: $fr-action-s
	height: $fr-action-s
	border-radius: 50%
	text-align: right
	margin: 5px 0
	i
		font-size: 30px
		color: #979398
		line-height: $fr-action-s
		margin-right: 6px
	i.q-checked
		color: #e03f67

i.qu-new
	color: #111111
	font-size: 2.4em
	width: 45px
	line-height: 45px
	margin-bottom: 5px
	margin-left: -15px
	border-radius: 50%
	text-align: center
	background: white
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2)


//Colouring the circles
i.qu-answer
	color: #2ce8f5
i.qu-waiting
	color: #bf72f5
i.qu-ready
	color: #0593f5
i.qu-viewed
	color: #7afc99

// Questions - show
table.qu-question:last-child
	border-bottom: 0

table.qu-question
	padding: 0
	width: 100%
	border-bottom: 1px solid #e6e6e6
	cursor: pointer
	tr.qu-question-row
		height: 40px
		td.qu-question-row-question
			padding-top: 10px
			overflow-x: hidden
			p
				font-size: 25px
			p:first-letter
				text-transform: uppercase
		td.qu-question-row-status
			text-align: right
			i
				font-size: 20px

	tr.qu-to-row
		height: 30px
		td.qu-to-row-to
			padding-bottom: 10px
			span
				font-size: 16px
				color: #b3b3b3
			span:after
				content: ", "
			span:last-child:after
				content: ""

		td.qu-to-row-owner
			text-align: right
			padding-bottom: 0
			i
				font-size: 20px
				color: #e9e9e9

//quenstion show
i.qu-show-answered
	color: #7afc99
i.qu-show-unanswered
	color: #b9bcbc

h2.qu-question-question
	margin-top: 30px
h2.qu-question-question:first-letter
	text-transform: uppercase


div.qu-user-answered
	display: inline-block
	i, span
		font-size: 14px
	i
		margin-right: 4px
	span
		margin-right: 18px

div.qu-waiting
	margin-top: 40px
	text-align: center
	font-size: 18px
	i
		font-size: 28px

div.qu-ready
	margin-top: 40px
	text-align: center
	button
		display: inline-block

p.qu-viewed-heading
	margin-top: 30px
	font-size: 18px
	font-weight: bold

div.qu-viewed
	margin-top: 16px
	span
		font-size: 18px
		margin-left: 20px



