@import variables

.q-check
	position: relative
	display: inline-block
	border-radius: 50%
	text-align: right
	margin: 5px 0
	
	i
		font-size: 30px
		color: $colour-question-friend-unchecked
		margin-right: 6px


//Colouring the circles
i.qu-answer
	color: $colour-question-answer
i.qu-waiting
	color: $colour-question-waiting
i.qu-ready
	color: $colour-question-ready
i.qu-viewed
	color: $colour-question-viewed

// Questions - show
table.qu-question
	position: relative
	padding: 0
	margin: 30px 0
	width: 100%
	cursor: pointer
	
	tr.qu-question-row
		height: 40px
		
		td.qu-question-row-question
			padding-top: 10px
			overflow-x: hidden
				
			p:first-letter
				text-transform: uppercase
		
		td.qu-question-row-status
			text-align: right
			
			i
				font-size: 20px

	tr.qu-to-row
		height: 30px
		
		td.qu-to-row-to
			padding-bottom: 10px
			
			span
				font-size: 14px
				color: #b3b3b3
				
				&:after
					content: ", "
				
				&:last-child:after
					content: ""

		td.qu-to-row-owner
			text-align: right
			padding-bottom: 0
			
			i
				font-size: 20px
				color: $colour-question-owner


//question show
i.qu-show-answered
	color: $colour-question-answered
i.qu-show-unanswered
	color: $colour-question-unanswered

h2.qu-question-question
	margin-top: 30px
	
	&:first-letter
		text-transform: uppercase


div.qu-user-answered
	display: inline-block
	
	i, span
		font-size: 14px
	
	i
		margin-right: 4px
	
	span
		margin-right: 18px

div.qu-waiting
	margin-top: 40px
	text-align: center
	
	i
		font-size: 28px

div.qu-ready
	margin-top: 40px
	text-align: center
	
	button
		display: inline-block

div.qu-viewed-answer

	div.qu-viewed
		position: relative
		display: inline-block
		background-color: $colour-answer-background
		max-width: 70%
		margin: 10px 40px
		padding: 15px 20px
		border-bottom-left-radius: $radius-answer-container
		border-bottom-right-radius: $radius-answer-container

		&:after
			content: ""
			position: absolute
			width: 0
			height: 0
			border: $size-answer-tick-border solid transparent
			top: 0
			border-top-color: $colour-answer-background
				
	&:nth-child(even)
		text-align: left

		div.qu-viewed
			border-top-right-radius: $radius-answer-container

			&:after
				left: ($size-answer-tick-border * 2 * -1)
				border-right-color: $colour-answer-background

	&:nth-child(odd)
		text-align: right

		div.qu-viewed
			border-top-left-radius: $radius-answer-container

			&:after
				right: ($size-answer-tick-border * 2 * -1)
				border-left-color: $colour-answer-background
	
	span
		font-size: 18px

.btn-random
	margin-bottom: 4px


div.qu-current-question
	position: relative
	margin: 20px 20px 10px 20px
	padding: 20px 15px
	border-top-left-radius: $radius-answer-container
	border-bottom-left-radius: $radius-answer-container
	border-bottom-right-radius: $radius-answer-container

	div.qu-current-question-tick
		position: absolute
		top: 0
		right: ($size-question-tick-border * 2 * -1)
		width: 0
		height: 0
		border: $size-question-tick-border solid transparent
		border-right-color: transparent !important
		border-bottom-color: transparent !important

	p
		font-size: 24px
		color: white
		margin: 0
