@import common


div.otr-home
	position: absolute
	width: 100%
	text-align: center



div.otr-home-controls
	position: relative
	display: block
	margin-top: 40px
	width: 100%
	height: auto

	h4
		text-align: left
		margin-left: 14px

	div
		margin: 0 auto
		margin-bottom: 20px


div.otr-signup
	position: relative
	margin: 0 auto
	margin-top: 20px
	text-align: center
	
