@import variables


div.otr-home
	position: absolute
	width: 100%
	height: 100%
	bottom: 0


div.otr-home-logo
	width: 100%
	text-align: center

	h1
		font-family: $fancy-font
		font-size: 4em
		line-height: 1.8em
		color: white
		margin: 0
		margin-top: 30px
		z-index: 1001
		+text-outline(2px, 3px, rgba(0,0,0,0.8))
		
		span
			color: white
	
