@import common


div.otr-home
	position: absolute
	width: 100%
	height: 100%
	bottom: 0
	text-align: center
	background: url('/assets/blur-venice.jpg')
	background-position: center
	background-attachment: fixed


div.otr-home-logo
	width: 100%
	text-align: center

	h1
		font-family: $fancy-font
		font-size: 3.6em
		line-height: 1.8em
		color: white
		margin: 0
		z-index: 1001
		+text-outline(2px, 3px, rgba(0,0,0,0.8))
		//0 0 3px rgba(0, 0, 0, 0.4)
		span
			// color: #575757
			color: white



div.otr-home-controls
	position: relative
	display: block
	margin-top: 40px
	width: 100%
	height: auto

	h4
		font-size: 2.2em
		margin: 0 0 10px 0px

	div
		margin: 0 auto


div.otr-signup
	text-align: center
	
