$normal-font: 'Open Sans', sans-serif
$fancy-font: 'Pacifico', cursive

$primary-color: #079EA6
$input-txt-c: #3d3d3d
$mat-shadow: 1px 1px 2px rgba(0,0,0,0.2)
$dark-shadow: 2px 2px 4px rgba(0,0,0,0.4)

$default-font-size: 10px

$input-border-c: fade-out(black, 0.88)
$input-border-style: 1px solid $input-border-c
$input-border-radius: 4px



/* Defaults */
$colour-default-text: #575757

/* Action Menu & Bar */
$colour-action-menu-backdrop: rgba(0,0,0,0.6)
$colour-action-menu-background: transparent
$colour-action-menu-badge-background: #d7d7d7
$colour-action-menu-text: white
$colour-action-menu-heading-text: fade-out(white, 0.8)
$colour-action-menu-hover-item-background: fade-out($colour-action-menu-text, 0.9)
$colour-action-bar-background: white
$height-action-bar: 40px

/* Layout */
$colour-slate-content-background: transparent
$colour-slate-heading-input: lighten($colour-default-text, 10%)
$colour-slate-sub-heading: white
$colour-slate-sub-heading-border: darken($colour-slate-sub-heading, 10%)
$colour-slate-item-background: white
$colour-slate-item-highlight-background: #f5f5f5
$colour-slate-floating-background: transparent
$colour-slate-floating-border-base: transparent
$colour-slate-floating-border: transparent
$size-menu-icon: $height-action-bar + 10
$width-slate: 100%
$width-slate-max: 600px
$height-slate-heading-min: 50px

/* Friend Requests */
$colour-friend-request-highlight-fallback: #b0b0b0

/* Questions */
$colour-question-answer: #2ce8f5
$colour-question-waiting: #bf72f5
$colour-question-ready: #0593f5
$colour-question-viewed: #7afc99
$colour-question-answered: #7afc99
$colour-question-unanswered: #b9bcbc
$colour-question-friend-unchecked: #979398
$colour-question-friend-checked: #e03f67
$colour-question-owner: #e9e9e9 
$colour-list-item-border: #e6e6e6

=gradient-bg($top, $bottom)
	background: -webkit-linear-gradient($top, $bottom) /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($top, $bottom) /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($top, $bottom) /* For Firefox 3.6 to 15 */
	background: linear-gradient($top, $bottom) /* Standard syntax */

=text-outline($width, $spread, $color)
	text-shadow: $width * -1 $width * -1 $spread $color, $width $width * -1 $spread $color, $width * -1 $width $spread $color, $width $width $spread $color 

=i-btn($color)
	background-color: $color
	text-align: center
	width: 40px
	height: 40px
	line-height: 40px
	font-size: 30px
	border-radius: 50%
	color: white