<div class="otr-home-banner" id="otr-nav">	
	<!-- <img class="otr-home-logo" src="/assets/cake.png" alt="Off the Record"> -->
	<div class="otr-home-logo">
		<h1 id="otr-heading-text" ng-model="heading_text">Sign Up</h1>
	</div>
</div>